@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    background-color: black;
    font-family: 'Roboto Slab', serif;
    color: white;
}

#hello-friend{
    text-align: center;
}   

#game-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#choice-buttons-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: justify-content 900ms ease-in-out;

}

.choice-button{
    background-color: #ffffff;
    color: #000;
    border: none;
    font-family: 'Roboto Slab', serif;
    padding-inline: 10px;
    padding-block: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}

.choice-button:hover{
    cursor: pointer;
}

.increaseSize{
    transform: scale(1.5);
    transition: ease-in-out 900ms;
}

.disappear{
    opacity: 0;
    transition: opacity 900ms ease-in-out;
}

.center{
    justify-content: center;
    transition: justify-content 950ms ease-in
}

#pc-choice-container{
    display: flex;
    gap: 10px;
}