@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#icons-container {
    display: flex;
    position: relative;
    height: 200px;
}

.choice-button {
    background: none;
    border: none;
    padding: 0;
    transition: transform 200ms ease-out, opacity 200ms ease-out;
}

.choice-button:hover {
    cursor: pointer;
}

.button-image {
    width: 30vw;
    height: auto;
    max-width: 120px;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

[data-choice="paper"] {
    transform: translateY(100px);
}

[data-choice="rock"],
[data-choice="scissors"] {
    transform: translateX(0);
}

.disappear {
    opacity: 0;
}

.increase-size {
    transform: scale(1.2);
}

.increase-image-size{
    transform: scale(1.5);
}

#computer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50%;
    padding: 1.4rem;
}

#computer-choice-image {
    width: 20vw;
    height: auto;
    max-width: 120px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    transition: transform 200ms ease-out;
}

